@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f8f9fa;
    color: #2b3437;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
  .scrollbar-thin::-webkit-scrollbar { width: 4px; }
  .scrollbar-thin::-webkit-scrollbar-track { background: transparent; }
  .scrollbar-thin::-webkit-scrollbar-thumb { background-color: #abb3b7; border-radius: 20px; }
}
